body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 96%);
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.col {
    flex: 1;
    padding: 20px;
    text-align: center; /* Center-align text */
}

.col h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.col h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 500px;
    margin-right: 5px;
    margin-left: 5px;
}

.card h3 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.card form {
    display: flex;
    flex-direction: column;
}

.form-outline {
    margin-bottom: 25px;
    position: relative;
}

.form-outline input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-outline label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 12px;
    color: gray;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background: #0056b3;
}

.hero-image {
    max-width: 60%;
    height: auto;
    display: block;
    margin: auto;
}